<div class="p-4 m-5">
  <ul class="flex flex-row gap-5 bg-slate-200 ">
    <li ><a  class="m-2" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['signal']" href="#">signal</a> </li>
    <li ><a  class="m-2" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['SampleObser']" href="#">SampleObser</a> </li>
    <li ><a  class="m-2" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['CounterOutPut']" href="#">CounterOutPut</a> </li>
    <li ><a  class="m-2" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['CountControl']" href="#">CountControl</a> </li>
    <li ><a  class="m-2" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:false}" [routerLink]="['CounterControls']" href="#">CounterControls</a> </li>


  </ul>
  <router-outlet></router-outlet>
</div>
