<div>


{{projectNameCaption | shortLength:5}}
  <form  #shoppingForm = "ngForm"  (ngSubmit)="addSubmitShopingForm(shoppingForm)"
         id="shoppingForm"
      action="">
    <div class="grid grid-cols-12">
      <div class="sm:col-span-12 md:col-span-6">
      <div class="flex flex-col w-full p-2">
        <label for="productName">Name</label>

        <input class="rounded-lg"
           name="productName"
           type="text" name="productName" id="productNameId"
           #productName = "ngModel"
           ngModel
         >
       </div>
       </div>
       <div class="sm:col-span-12 md:col-span-6">
        <div class="flex flex-col w-full p-2">
        <label for="amount">Amount</label>
        <input class="rounded-lg" type="number" id="amountId"
          #amount = "ngModel"
           name="amount"
           ngModel
           [pattern]="amountInputPattern"

        >
        <span *ngIf="!amount.valid">This Is Invalid</span>
       </div></div>
    </div>


  </form>


 <div class="pt-10 flex flex-row gap-3">
  <input class="btn-primary" type="submit" form="shoppingForm" value="{{editMode?'Update':'Add'}}">
  <input class="btn-delete"  type="button" value="Delete">
  <input class="btn-green"   type="button" value="Clear">

 </div>
</div>
