<div class="container p-2 mx-auto">

  <ng-container *ngIf="userList != undefined ">

    <div>
      <app-user-active></app-user-active>
      <app-user-inactive></app-user-inactive>

      <ul>
        <li class="flex flex-row"  *ngFor="let item of userList;let I = index">
          <div>
            <span class="inline-block w-32  text-center">{{item.userName}}


            </span>
            <input class="border-2 p-1 m-1 " type="button" value="Show Info"
                   [routerLink]="['/users/userInfo']"
                   [routerP]
                   (click)="setUserId(item.userId)"
            >
          </div>



          </li>
      </ul>

    </div>

  </ng-container>

  <ng-template [ngIf]="userId != undefined" [ngIfElse]="userIdElse">
     <router-outlet></router-outlet>
  </ng-template>

  <ng-template #userIdElse>

    <a class="hover:underline hover:text-blue-700"
      href="#"
      [queryParams]="{name:'saeed'}"
      [routerLink]="['/users',10]" > Show Route On users/:id </a>

      <router-outlet></router-outlet>
  </ng-template>

</div>


